/* HomePage.module.css */
.homePage {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(to right, #6a11cb, #2575fc);
  background-size: cover;
  background-position: center;
  overflow: hidden;
}

.title {
  font-size: 60px; /* Larger font size for more impact */
  color: white;
  text-shadow: 4px 4px 10px rgba(0, 0, 0, 0.6);
  animation: glow 1.5s ease-in-out infinite alternate;
}

.startButton {
  padding: 20px 40px;
  font-size: 24px;
  background-image: white;
  color: black;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  margin-top: 30px;
  transition: background-color 0.3s, transform 0.2s;
  animation: pulse 2s infinite;
}

.startButton:hover {
  background-color: #31a6b8;
}

.startButton:focus {
  outline: none;
  box-shadow: 0 0 10px 2px rgba(255, 255, 255, 0.75);
}
